<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <header>
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
              <h1 class="display-4">SUNABACO おこまりごと</h1>
              <p class="lead">SUNABACOの質問&回答ページです</p>
              <a href="/list" class="a_button2">回答募集中ページ</a>
              <a href="/QAlist" class="a_button2">回答済みページ</a>
            </div>
          </div>
    </header>

{% block content %}
{% endblock %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="../static/index.js"></script>
<footer><img src="../static/img/sunabaco-logo.png" alt="" class="sunabaco_logo"></footer>
</body>
</html>